/* not exactly sure why but copied from challenge 1 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary:#10454F; /* Header */
    --secondary:#506266; /* Border */
    --tetriary:#818274; /* Background */
    --secondlight:#A3AB78; /* Text */
    --light:#BDE038; /* Actions */
}

body {
    background-color: var(--tetriary);
}

/* This changes the header color and floats */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
    background-color: var(--primary);
    font-family: ; /* Fill in */
    color: var(--secondlight); /* Text */
}

header h1 {
    font-size: 225%;
}

header nav {
    font-size: 150%;
}

/* Changes the color and decoration of the nav link */
nav a {
    padding: 5px; /* Change to percentage later */
    color: var(--secondlight); /* Text */
    text-decoration: none;
}

/* hover works */
nav a:hover {
    color: var(--light);
}


/* Resize My Image */
.sotto-header img {
    margin: auto;
    width: 15%;
    height: 15%;
}


/* Main Section */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content:space-between;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box div {
    display: flex;
}